import { ComponentFixture, TestBed } from '@angular/core/testing';

import { ${Component}DialogComponent } from './${component}-dialog.component';

describe('${Component}DialogComponent', () => {
  let component: ${Component}DialogComponent;
  let fixture: ComponentFixture<${Component}DialogComponent>;

  beforeEach(async () => {
    await TestBed.configureTestingModule({
      declarations: [ ${Component}DialogComponent ]
    })
    .compileComponents();
  });

  beforeEach(() => {
    fixture = TestBed.createComponent(${Component}DialogComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
