import { Component, Inject, Optional } from '@angular/core';
import { MatDialogRef, MAT_DIALOG_DATA } from '@angular/material/dialog';
import { ${item}Item } from '../${component}/${component}-datasource';

@Component({
  selector: 'app-${component}-dialog',
  templateUrl: './${component}-dialog.component.html',
  styleUrls: ['./${component}-dialog.component.css']
})
export class ${Component}DialogComponent {

  action:string;
  local_data:any;

  constructor(
    public dialogRef: MatDialogRef<${Component}DialogComponent>,
    //@Optional() is used to prevent error if no data is passed
    @Optional() @Inject(MAT_DIALOG_DATA) public data: ${item}Item) {
    console.log(data);
    this.local_data = {...data};
    this.action = this.local_data.action;
  }

  doAction(){
    this.dialogRef.close({event:this.action,data:this.local_data});
  }

  closeDialog(){
    this.dialogRef.close({event:'Cancel'});
  }

}