<h1 mat-dialog-title>Delete ${Item}</h1>
<div mat-dialog-content class="dialog">
        Sure to delete <b>{{local_data.${key}}}</b>?
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>