import { HttpClient } from '@angular/common/http';
import { Component, OnInit } from '@angular/core';
import { FormBuilder, Validators } from '@angular/forms';
import { ActivatedRoute } from '@angular/router';
import { ${Component}DataSource } from './${component}-datasource';
import { Location } from '@angular/common';

@Component({
  selector: 'app-${component}-detail',
  templateUrl: './${component}-detail.component.html',
  styleUrls: ['./${component}-detail.component.css']
})
export class ${Component}DetailComponent implements OnInit {

  detailForm = this.fb.group({
#foreach($field in $fields.keySet()) 
    ${field}: null, 
#end
  });

  hasUnitNumber = false;

  private dataSource: ${Component}DataSource;

  constructor(
    private fb: FormBuilder,
    private route: ActivatedRoute,
    private location: Location,
    http: HttpClient
  ) {
    this.dataSource = new ${Component}DataSource(http);
  }

  ngOnInit(): void {
    this.route.params.subscribe((params) => {
      if (params.id != '_new')
        this.dataSource.getItem(params.id).subscribe({
          next: (item) => { this.detailForm.patchValue(item) }
        });
    });
  }

  onSubmit(): void {
    if (this.route.snapshot.paramMap.get('id') == '_new')
      this.dataSource.addItem(this.detailForm.value).subscribe(
        data => { console.log('Success ', data), this.location.back(); },
        error => console.error('Opps ', error)
      );
    else
      this.dataSource.updateItem(this.detailForm.value).subscribe(
        data => { console.log('Success ', data), this.location.back(); },
        error => console.error('Opps ', error)
      );
  }

  goBack(): void {
    this.location.back();
  }
}
