<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Kontrahent</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Symbol" formControlName="symbol">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="NIP" formControlName="nip">
                        <mat-error *ngIf="addressForm.controls['nip'].hasError('required')">
                            NIP is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="PESEL" formControlName="pesel">
                        <mat-error *ngIf="addressForm.controls['pesel'].hasError('required')">
                            PESEL is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Short name" formControlName="shortName">
                        <mat-error *ngIf="addressForm.controls['shortName'].hasError('required')">
                            Short name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Full name" formControlName="name1">
                        <mat-error *ngIf="addressForm.controls['name1'].hasError('required')">
                            Full name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Full name 2" formControlName="name2">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-double">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Street" formControlName="street">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="House number" formControlName="houseNo">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Flat number" formControlName="flatNo">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput #postalCode maxlength="6" placeholder="Postal Code" 
                            formControlName="postalCode">
                        <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-triple">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="City" formControlName="city">
                        <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                            City is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div> -->
            </div>
            <!-- <div class="row">

            </div>
            <div class="row">
                <div class="col">
                    <mat-radio-group formControlName="shipping">
                        <mat-radio-button value="free">Free Shipping</mat-radio-button>
                        <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
                        <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="button" (click)="goBack()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>